.card-holder{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 10px;  
    border-radius: 15px;
    border-style: dashed;
    text-align:center;

}

.card {
    text-align: center;
}

.flash-holder{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
.flashes {
    text-align: center;
    background-color: lightpink;
    border-radius: 30px;
}

table{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}

table, th{
    border:1px solid black;
}

th {
    text-align: center;
    width:25%;
}

.header {
    display:flex;
    justify-content: space-between;
    border-style: dashed;
}
