.card-holder{
    /* other base style */
    width: 25%;
    margin: auto;
    margin-top: 10%;
    padding: 80px;  
    border-radius: 15px;
    border-style: dashed; 
}

.card {
    text-align: center;
}