<!DOCTYPE html>

<html>
    <head>
        <title>Login</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    </head>
    <body>
        
        <div class="card-holder">
            <div class="card">
                <form>

                    <!-- Username input -->
                    <label for="username"><b>Username</b></label>
                    <br>
                    <input id="username" type="text" placeholder="Enter Username" name="u_userName" required>
                    <br>
                    <br>

                    <!-- Password input-->
                    <label for="password"><b>Password</b></label>
                    <br>
                    <input id="password" type="password" placeholder="Enter Password" name="u_password" required>
                    <br>
                    <br>
                    <input type="button" onclick="login()" value="Login">

                </form>
            </div>
        </div>

        <script src="{{ url_for('static',filename='script.js') }}" async defer></script>
    </body>
</html>