<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Student Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/style.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    </head>
    <body>

   
    <div class="card-holder">
        <h4>University</h4>
        <div class="header">
            <p>Welcome {{ name }}!</p>
            <input type="button" onclick="logout()" value="Sign Out">
        </div>

        <!-- Tab functionality -->
        <div class="tab">
            <button class="tablinks" onclick="changeTab(event, 'yourCourses')">Your Courses</button>
            <button class="tablinks" onclick="changeTab(event, 'addCourses')">Add Courses</button>
        </div>

        <!-- Your Courses Tab -->
        <div id="yourCourses" class="tabContent">
            <table>
                <th> Course Name </th>
                <th> Teacher </th>
                <th> Time </th>
                <th> Student Enrolled </th>
            </table>
        </div>

        <!-- Add Courses Tab-->
        <div id="addCourses" class="tabContent" hidden>
            <table>
                <tr>
                    <th> Course Name </th>
                    <th> Teacher </th>
                    <th> Time </th>
                    <th> Student Enrolled </th>
                    <th> Add Class</th>
                </tr>

                {% block content %}
                        <!-- display all courses-->
                        {% for class in classes%}

                            <tr>
                                <td> {{ class.c_courseName }}</td>
                                <td> {{ class.c_teacherId }}</td>
                                <td> {{ class.c_time }}</td>
                                <td> {{ class.c_enrollmentNum }} / {{ class.c_capacity }}</td>

                                <!-- If the student is not enrolled in class then show option to add-->
                                {% if class.c_classId not in classesIn.e_classId %}
                                <td><input type="button" value="+" onclick="addClass( '{{ class.c_classId }}' )"></td>

                                <!-- Else show option to remove-->
                                {% else  %}
                                <td><input type="button" value="-" onclick="removeClass('{{class.c_classId}}')"></td>
                                {% endif %}
                            </tr>
                        {% endfor %}

                {% endblock %}
            </table>
        </div>
    </div>


    </body>
    <script src="../static/script.js"></script>
    <!--<script src="{{ url_for('static',filename='script.js') }}" async defer></script>-->
</html>